.provide .card p{font-size: 20px;}
.about h2{
    line-height: 1.8;
    margin-top: 9%;}
.provide .providetitle {
    font-size: 30px;}
    .provide .card h4{color: #000;}
    .provide .providetitle {  margin-top: 10%;}
    .provide .providetitle{
        margin-top: 2%;
        margin-bottom: 4%;}